@use 'variables';

@mixin landscape {
    @media (min-width: 768px){
      @content;
    }
  }
  
@mixin medium-screen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin wide-screen {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin light-font {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

@mixin bold-font {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}