@use 'variables';

@mixin landscape {
    @media (min-width: 768px){
      @content;
    }
  }
  
@mixin medium-screen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin wide-screen {
  @media (min-width: 1200px) {
    @content;
  }
}

// @mixin body-font {
//   font-family: 'Nunito', sans-serif;
//   font-weight: 300;
// }

@mixin body-font {
  font-family: 'Coda', cursive;
  font-weight: 400;
}

@mixin heading-font {
  font-family: 'Coda', cursive;
  font-weight: 800;
}