/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Initialization
1. Appearance
2. Utility

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Appearance ============================= */

*, *::before, *::after {
	box-sizing: border-box;
}

a{
	color: unset;
}

body{
	@include mixins.body-font;
}

.display-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	background: #033c7f;
}

.intro{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	position: relative;

	&__background{
		position: absolute;
		background: url("../../src/img/hero1.png");
		background-position: center;
		background-size: cover;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		&:after{
			content: "";
			position: absolute;
			background: linear-gradient(rgba(3, 60, 127, 0), rgba(3, 60, 127, 1));
			width: 100%;
			height: 60%;
			bottom: 0;
			z-index: -1;
		}
	}

	&__game-box{
		object-fit: cover;
		object-position: center;
		width: 26rem;
		grid-column: 3/4;
		margin-bottom: 1.25rem;
		z-index: 1;
	}

	&__shimmer-base{
		position: absolute;
		width: 100%;
		height: 30rem;
		left: 0;
		top: 4rem;

		background: rgba(255,255,255, 0.75);
	}

	// &__shimmer-1, &__shimmer-2, &__shimmer-3, &__shimmer-4, &__shimmer-5, &__shimmer-6, &__shimmer-7, &__shimmer-8{
	// 	@include mixins.shimmer;
	// }

	&__shimmer-1{
		animation-name: grow-1;
		@include mixins.shimmer;
		background: variables.$red;
	}

	&__shimmer-2{
		animation-name: grow-2;
		@include mixins.shimmer;
		background: white;
	}
}

@keyframes grow-1{

	50%{
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	100%{
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

.top-row{
	grid-column: 1/-1;
	display: flex;
	padding: 0.55rem 4rem;
	align-items: center;
	background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 1));
	margin-bottom: 2rem;
	z-index:2;

	&__title{
		grid-row: 1/2;
		font-size: 1.75rem;
		@include mixins.heading-font;
		text-transform: uppercase;
		color: #f03f2d;
		margin-left: 0.55rem;
	}
}

.logo{
	grid-row: 1/2;
	background: url("../../src/img/logo.svg");
	background-color: black;
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	height: 3rem;
	width: 3rem;
	border-radius: 9999px;

	&_contact{
		grid-column: 2/4;
		place-self: center center;
		transform: scale(2);
		margin: 4rem 0rem 2.25rem;
	}
}

.search{
	object-fit: cover;
	object-position: center;
	height: 1.5rem;
	margin: 0 1.25rem 0 auto;
	cursor: pointer;
}

.menu{
	display: none;
}

.toggle{
	display: flex;
	flex-direction: column;
	width: 2rem;
	height: 2rem;
	cursor: pointer;

	&__line{
		width: 100%;
		height: 0.2rem;
		background: black;

		&_1{
			margin: auto;
		}

		&_2{
			margin: auto;
		}
	}
}

.info-row{
	grid-column: 3/4;
	grid-row: 3/4;
	display: flex;
	justify-content: center;
	z-index: 1;

	&__age-icon, &__game-length-icon, &__players-icon{
		color: variables.$red;
		margin-right: 0.75rem;
		font-size: 1.5rem;
		// opacity: 0.9;
	}

	&__player-ages, &__game-length, &__num-players{
		color: white;
		margin-right: 1rem;
		font-size: 1.5rem;
	}

	
}

.description{
	display: grid;
	grid-template-columns: 0.2fr 1fr 0.2fr;
	grid-auto-rows: auto;

	&__heading{
		grid-column: 2/3;
		font-size: 2.25rem;
		color: variables.$red;
		justify-self: center;
		padding: 2.75rem 0 1.3rem 0;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.4;
	}

	&__text{
		grid-column: 2/3;
		// padding-bottom: 5rem;
		@include mixins.copy;
	}
}

.award-row{
	display: flex;
	overflow-x: hidden;
	cursor: pointer;

	&__image{
		width: 40%;
		height: 15rem;
		margin: 0rem 3rem;

		&_first{
			margin-left: -12%;
		}
	}

}

.hover-image{
	place-self: center center;
	width: 80%;
	height: 20rem;
	background-size: cover;
	background-position: center;
	// filter: brightness(.8);
	background-image: url("../../src/img/hover_photo.jpg");
	background-color: rgba(0,0,0,0.35);
	background-blend-mode: hard-light;
	transition: background-color 400ms ease-in-out;
	margin-top: 4rem;

	&:hover{
		background-color: rgba(0,0,0,0.1);
	}
}

.hook{
	border: 7px double variables.$red;
	margin: 4rem auto;
	width: 80%;
	@include mixins.copy;
	padding: 1.5rem 1.5rem 0;

	&__text{
		padding-bottom: 1.5rem;
	}
}

.game-spread{
	width: 80%;
	margin: 0 auto;
}

.characters{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: auto;
	padding: 2rem 0rem;

	&__heading{
		color: variables.$red;
		grid-column: 1/-1;
		font-size: 1.5rem;
		text-transform: uppercase;
		width: 80%;
		margin: 0 auto 1rem;
		text-align: center;
	}

	&__text{
		color: white;
		grid-column: 1/-1;
		width: 80%;
		margin: 0 auto 4rem;
		font-size: 1.25rem;
		line-height: 1.5;
		text-align: center;
	}

	&__card{
		object-fit: cover;
		object-position: center;
		grid-column: 1/-1;
		border-radius: 20px;
		width: 39.5%;
		margin: 0 auto 4rem;
		transition: transform 400ms ease-in-out;

		&_pharmacist{
			border: 3px solid white;
		}

		&:hover{
			transform: scale(1.2);
		}
	}
}

.events{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;

	&__card-display{
		grid-column: 2/4;
		display: flex;
		justify-content: space-between;
		// margin-bottom: 4rem;
		margin-bottom: 1rem;
	}

	&__card-slot{
		height: 0;
  		padding-bottom: 40%;
  		position: relative;
		flex:1;
		margin: 0.5rem;
	}

	&__card{
		position: absolute;
  		top: 0; left: 0;
  		width: 100%; height: 100%;
		border-radius: 5%;
		transition: all 425ms ease-in-out;
	
		&_card-back{
			background: url(../../src/img/card_back.jpg), linear-gradient(45deg,rgba(255,255,255,0), rgba(255,255,255,0.25));
			background-size: cover;
			background-position: center;
			background-blend-mode: hue;
		}

		&_quiet-night{
			background: url(../../src/img/quiet_night.jpg), linear-gradient(45deg,rgba(255,255,255,0), rgba(255,255,255,0.25));
			background-size: cover;
			background-position: center;
			background-blend-mode: hue;
		}

		&_resilient-population{
			background: url(../../src/img/resilient_pop.jpg), linear-gradient(45deg,rgba(255,255,255,0), rgba(255,255,255,0.25));
			background-size: cover;
			background-position: center;
			background-blend-mode: hue;
		}

		&:hover{
			transform: rotate(-5deg);
			filter: brightness(110%);
		}
	}

	&__heading{
		grid-column: 2/4;
		font-size: 2.25rem;
		color: variables.$red;
		text-transform: uppercase;
		line-height: 1.4;
		text-align: center;
		padding-bottom: 0.75rem;
	}

	&__text{
		color: white;
		grid-column: 2/4;
		text-align: center;
		line-height: 1.5;
		margin-bottom: 4rem;
	}
}

.gallery{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: auto;

	&__item{
		width: 100%;
		height: 12rem;
		object-position: top center;
		object-fit: cover;
		grid-column: 1/-1;
		filter: brightness(0.2);
		transition: 200ms height ease-in-out, 200ms filter ease-in-out;

		&_2, &_3, &_4, &_5{
			object-position: center 11%;
		}

		&:hover{
			height: 35rem;
			max-width: 100%;
			filter: brightness(1.1);
		}

	}
}

.contact{
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	padding-bottom: 5rem;

	&__text{
		display: flex;
		flex-direction: column;
		grid-column: 1/-1;
		text-align: center;
		color: white;
	}

	&__name{
		font-size: 1.25rem;
		letter-spacing: 0.15rem;
		margin-bottom: 0.75rem;
	}

	&__address, &__phone, &__email{
		color: lightgray;
		margin-bottom: 0.75rem;
	}

}

/* 2. Utility ================================ */